<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress SqlNoDataSourceInspection -->
<mapper namespace="com.sjhy.platform.persist.mysql.test.PersonMapper">

    <resultMap id="Person" type="com.sjhy.platform.client.dto.test.Person">
        <id column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="type" property="age"/>
    </resultMap>

    <select id="get" resultMap="Person">
        SELECT id, gmt_create, gmt_modified, name, age
        FROM test_person
        WHERE id = #{personId}
    </select>

    <select id="countPerson" resultType="java.lang.Integer">
        SELECT count(1)
        FROM test_person
    </select>

</mapper>