<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sjhy.platform.persist.mysql.ChannelAndVersionMapper" >

    <resultMap id="BaseResultMap" type="com.sjhy.platform.client.dto.base.ChannelAndVersion" >
        <id column="channel_id" property="channelId" jdbcType="VARCHAR" />
        <result column="is_available" property="isAvailable" jdbcType="BIT" />
        <result column="channel_info" property="channelInfo" jdbcType="VARCHAR" />
        <result column="version_num" property="versionNum" jdbcType="VARCHAR" />
        <result column="version_download" property="versionDownload" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        channel_id, is_available, channel_info, version_num, version_download
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sjhy.platform.client.dto.base.ChannelAndVersionExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from channel_and_version
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from channel_and_version
        where channel_id = #{channelId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from channel_and_version
        where channel_id = #{channelId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.sjhy.platform.client.dto.base.ChannelAndVersionExample" >
        delete from channel_and_version
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.sjhy.platform.client.dto.base.ChannelAndVersion" >
        insert into channel_and_version (channel_id, is_available, channel_info, 
            version_num, version_download)
        values (#{channelId,jdbcType=VARCHAR}, #{isAvailable,jdbcType=BIT}, #{channelInfo,jdbcType=VARCHAR}, 
            #{versionNum,jdbcType=VARCHAR}, #{versionDownload,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.sjhy.platform.client.dto.base.ChannelAndVersion" >
        insert into channel_and_version
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="channelId != null" >
                channel_id,
            </if>
            <if test="isAvailable != null" >
                is_available,
            </if>
            <if test="channelInfo != null" >
                channel_info,
            </if>
            <if test="versionNum != null" >
                version_num,
            </if>
            <if test="versionDownload != null" >
                version_download,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="channelId != null" >
                #{channelId,jdbcType=VARCHAR},
            </if>
            <if test="isAvailable != null" >
                #{isAvailable,jdbcType=BIT},
            </if>
            <if test="channelInfo != null" >
                #{channelInfo,jdbcType=VARCHAR},
            </if>
            <if test="versionNum != null" >
                #{versionNum,jdbcType=VARCHAR},
            </if>
            <if test="versionDownload != null" >
                #{versionDownload,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.sjhy.platform.client.dto.base.ChannelAndVersionExample" resultType="java.lang.Integer" >
        select count(*) from channel_and_version
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update channel_and_version
        <set >
            <if test="record.channelId != null" >
                channel_id = #{record.channelId,jdbcType=VARCHAR},
            </if>
            <if test="record.isAvailable != null" >
                is_available = #{record.isAvailable,jdbcType=BIT},
            </if>
            <if test="record.channelInfo != null" >
                channel_info = #{record.channelInfo,jdbcType=VARCHAR},
            </if>
            <if test="record.versionNum != null" >
                version_num = #{record.versionNum,jdbcType=VARCHAR},
            </if>
            <if test="record.versionDownload != null" >
                version_download = #{record.versionDownload,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update channel_and_version
        set channel_id = #{record.channelId,jdbcType=VARCHAR},
            is_available = #{record.isAvailable,jdbcType=BIT},
            channel_info = #{record.channelInfo,jdbcType=VARCHAR},
            version_num = #{record.versionNum,jdbcType=VARCHAR},
            version_download = #{record.versionDownload,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.sjhy.platform.client.dto.base.ChannelAndVersion" >
        update channel_and_version
        <set >
            <if test="isAvailable != null" >
                is_available = #{isAvailable,jdbcType=BIT},
            </if>
            <if test="channelInfo != null" >
                channel_info = #{channelInfo,jdbcType=VARCHAR},
            </if>
            <if test="versionNum != null" >
                version_num = #{versionNum,jdbcType=VARCHAR},
            </if>
            <if test="versionDownload != null" >
                version_download = #{versionDownload,jdbcType=VARCHAR},
            </if>
        </set>
        where channel_id = #{channelId,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.sjhy.platform.client.dto.base.ChannelAndVersion" >
        update channel_and_version
        set is_available = #{isAvailable,jdbcType=BIT},
            channel_info = #{channelInfo,jdbcType=VARCHAR},
            version_num = #{versionNum,jdbcType=VARCHAR},
            version_download = #{versionDownload,jdbcType=VARCHAR}
        where channel_id = #{channelId,jdbcType=VARCHAR}
    </update>
</mapper>