<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sjhy.platform.persist.mysql.MailMapper" >

    <resultMap id="BaseResultMap" type="com.sjhy.platform.client.dto.base.Mail" >
        <id column="mail_id" property="mailId" jdbcType="BIGINT" />
        <result column="send_role_id" property="sendRoleId" jdbcType="BIGINT" />
        <result column="recv_role_id" property="recvRoleId" jdbcType="BIGINT" />
        <result column="game_id" property="gameId" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="SMALLINT" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="context" property="context" jdbcType="VARCHAR" />
        <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
        <result column="goods_num" property="goodsNum" jdbcType="INTEGER" />
        <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="BIT" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        mail_id, send_role_id, recv_role_id, game_id, type, title, context, goods_id, goods_num, 
        send_time, status
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sjhy.platform.client.dto.base.MailExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from mail
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from mail
        where mail_id = #{mailId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from mail
        where mail_id = #{mailId,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByExample" parameterType="com.sjhy.platform.client.dto.base.MailExample" >
        delete from mail
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.sjhy.platform.client.dto.base.Mail" >
        insert into mail (mail_id, send_role_id, recv_role_id, 
            game_id, type, title, 
            context, goods_id, goods_num, 
            send_time, status)
        values (#{mailId,jdbcType=BIGINT}, #{sendRoleId,jdbcType=BIGINT}, #{recvRoleId,jdbcType=BIGINT}, 
            #{gameId,jdbcType=INTEGER}, #{type,jdbcType=SMALLINT}, #{title,jdbcType=VARCHAR}, 
            #{context,jdbcType=VARCHAR}, #{goodsId,jdbcType=INTEGER}, #{goodsNum,jdbcType=INTEGER}, 
            #{sendTime,jdbcType=TIMESTAMP}, #{status,jdbcType=BIT})
    </insert>

    <insert id="insertSelective" parameterType="com.sjhy.platform.client.dto.base.Mail" >
        insert into mail
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="mailId != null" >
                mail_id,
            </if>
            <if test="sendRoleId != null" >
                send_role_id,
            </if>
            <if test="recvRoleId != null" >
                recv_role_id,
            </if>
            <if test="gameId != null" >
                game_id,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="context != null" >
                context,
            </if>
            <if test="goodsId != null" >
                goods_id,
            </if>
            <if test="goodsNum != null" >
                goods_num,
            </if>
            <if test="sendTime != null" >
                send_time,
            </if>
            <if test="status != null" >
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="mailId != null" >
                #{mailId,jdbcType=BIGINT},
            </if>
            <if test="sendRoleId != null" >
                #{sendRoleId,jdbcType=BIGINT},
            </if>
            <if test="recvRoleId != null" >
                #{recvRoleId,jdbcType=BIGINT},
            </if>
            <if test="gameId != null" >
                #{gameId,jdbcType=INTEGER},
            </if>
            <if test="type != null" >
                #{type,jdbcType=SMALLINT},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="context != null" >
                #{context,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null" >
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="goodsNum != null" >
                #{goodsNum,jdbcType=INTEGER},
            </if>
            <if test="sendTime != null" >
                #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null" >
                #{status,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.sjhy.platform.client.dto.base.MailExample" resultType="java.lang.Integer" >
        select count(*) from mail
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update mail
        <set >
            <if test="record.mailId != null" >
                mail_id = #{record.mailId,jdbcType=BIGINT},
            </if>
            <if test="record.sendRoleId != null" >
                send_role_id = #{record.sendRoleId,jdbcType=BIGINT},
            </if>
            <if test="record.recvRoleId != null" >
                recv_role_id = #{record.recvRoleId,jdbcType=BIGINT},
            </if>
            <if test="record.gameId != null" >
                game_id = #{record.gameId,jdbcType=INTEGER},
            </if>
            <if test="record.type != null" >
                type = #{record.type,jdbcType=SMALLINT},
            </if>
            <if test="record.title != null" >
                title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.context != null" >
                context = #{record.context,jdbcType=VARCHAR},
            </if>
            <if test="record.goodsId != null" >
                goods_id = #{record.goodsId,jdbcType=INTEGER},
            </if>
            <if test="record.goodsNum != null" >
                goods_num = #{record.goodsNum,jdbcType=INTEGER},
            </if>
            <if test="record.sendTime != null" >
                send_time = #{record.sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=BIT},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update mail
        set mail_id = #{record.mailId,jdbcType=BIGINT},
            send_role_id = #{record.sendRoleId,jdbcType=BIGINT},
            recv_role_id = #{record.recvRoleId,jdbcType=BIGINT},
            game_id = #{record.gameId,jdbcType=INTEGER},
            type = #{record.type,jdbcType=SMALLINT},
            title = #{record.title,jdbcType=VARCHAR},
            context = #{record.context,jdbcType=VARCHAR},
            goods_id = #{record.goodsId,jdbcType=INTEGER},
            goods_num = #{record.goodsNum,jdbcType=INTEGER},
            send_time = #{record.sendTime,jdbcType=TIMESTAMP},
            status = #{record.status,jdbcType=BIT}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.sjhy.platform.client.dto.base.Mail" >
        update mail
        <set >
            <if test="sendRoleId != null" >
                send_role_id = #{sendRoleId,jdbcType=BIGINT},
            </if>
            <if test="recvRoleId != null" >
                recv_role_id = #{recvRoleId,jdbcType=BIGINT},
            </if>
            <if test="gameId != null" >
                game_id = #{gameId,jdbcType=INTEGER},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=SMALLINT},
            </if>
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="context != null" >
                context = #{context,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null" >
                goods_id = #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="goodsNum != null" >
                goods_num = #{goodsNum,jdbcType=INTEGER},
            </if>
            <if test="sendTime != null" >
                send_time = #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=BIT},
            </if>
        </set>
        where mail_id = #{mailId,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.sjhy.platform.client.dto.base.Mail" >
        update mail
        set send_role_id = #{sendRoleId,jdbcType=BIGINT},
            recv_role_id = #{recvRoleId,jdbcType=BIGINT},
            game_id = #{gameId,jdbcType=INTEGER},
            type = #{type,jdbcType=SMALLINT},
            title = #{title,jdbcType=VARCHAR},
            context = #{context,jdbcType=VARCHAR},
            goods_id = #{goodsId,jdbcType=INTEGER},
            goods_num = #{goodsNum,jdbcType=INTEGER},
            send_time = #{sendTime,jdbcType=TIMESTAMP},
            status = #{status,jdbcType=BIT}
        where mail_id = #{mailId,jdbcType=BIGINT}
    </update>
</mapper>