<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sjhy.platform.persist.mysql.ModuleSwitchMapper" >

    <resultMap id="BaseResultMap" type="com.sjhy.platform.client.dto.base.ModuleSwitch" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="game_id" property="gameId" jdbcType="INTEGER" />
        <result column="channel_id" property="channelId" jdbcType="VARCHAR" />
        <result column="module_name" property="moduleName" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="BIT" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, game_id, channel_id, module_name, status
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sjhy.platform.client.dto.base.ModuleSwitchExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from module_switch
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from module_switch
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from module_switch
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.sjhy.platform.client.dto.base.ModuleSwitchExample" >
        delete from module_switch
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.sjhy.platform.client.dto.base.ModuleSwitch" >
        insert into module_switch (id, game_id, channel_id, 
            module_name, status)
        values (#{id,jdbcType=INTEGER}, #{gameId,jdbcType=INTEGER}, #{channelId,jdbcType=VARCHAR}, 
            #{moduleName,jdbcType=VARCHAR}, #{status,jdbcType=BIT})
    </insert>

    <insert id="insertSelective" parameterType="com.sjhy.platform.client.dto.base.ModuleSwitch" >
        insert into module_switch
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="gameId != null" >
                game_id,
            </if>
            <if test="channelId != null" >
                channel_id,
            </if>
            <if test="moduleName != null" >
                module_name,
            </if>
            <if test="status != null" >
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="gameId != null" >
                #{gameId,jdbcType=INTEGER},
            </if>
            <if test="channelId != null" >
                #{channelId,jdbcType=VARCHAR},
            </if>
            <if test="moduleName != null" >
                #{moduleName,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.sjhy.platform.client.dto.base.ModuleSwitchExample" resultType="java.lang.Integer" >
        select count(*) from module_switch
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update module_switch
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.gameId != null" >
                game_id = #{record.gameId,jdbcType=INTEGER},
            </if>
            <if test="record.channelId != null" >
                channel_id = #{record.channelId,jdbcType=VARCHAR},
            </if>
            <if test="record.moduleName != null" >
                module_name = #{record.moduleName,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=BIT},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update module_switch
        set id = #{record.id,jdbcType=INTEGER},
            game_id = #{record.gameId,jdbcType=INTEGER},
            channel_id = #{record.channelId,jdbcType=VARCHAR},
            module_name = #{record.moduleName,jdbcType=VARCHAR},
            status = #{record.status,jdbcType=BIT}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.sjhy.platform.client.dto.base.ModuleSwitch" >
        update module_switch
        <set >
            <if test="gameId != null" >
                game_id = #{gameId,jdbcType=INTEGER},
            </if>
            <if test="channelId != null" >
                channel_id = #{channelId,jdbcType=VARCHAR},
            </if>
            <if test="moduleName != null" >
                module_name = #{moduleName,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.sjhy.platform.client.dto.base.ModuleSwitch" >
        update module_switch
        set game_id = #{gameId,jdbcType=INTEGER},
            channel_id = #{channelId,jdbcType=VARCHAR},
            module_name = #{moduleName,jdbcType=VARCHAR},
            status = #{status,jdbcType=BIT}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>