<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sjhy.platform.persist.mysql.PlayerGameOssMapper" >

    <resultMap id="BaseResultMap" type="com.sjhy.platform.client.dto.base.PlayerGameOss" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="role_id" property="roleId" jdbcType="BIGINT" />
        <result column="bucket" property="bucket" jdbcType="VARCHAR" />
        <result column="obj_type" property="objType" jdbcType="INTEGER" />
        <result column="obj_key" property="objKey" jdbcType="VARCHAR" />
        <result column="gold" property="gold" jdbcType="BIGINT" />
        <result column="save_time" property="saveTime" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
        <result column="meta_md5" property="metaMd5" jdbcType="VARCHAR" />
        <result column="fname" property="fname" jdbcType="VARCHAR" />
        <result column="backup_oss_time" property="backupOssTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, role_id, bucket, obj_type, obj_key, gold, save_time, create_time, update_time, 
        status, end_time, meta_md5, fname, backup_oss_time
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sjhy.platform.client.dto.base.PlayerGameOssExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from player_game_oss
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from player_game_oss
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from player_game_oss
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.sjhy.platform.client.dto.base.PlayerGameOssExample" >
        delete from player_game_oss
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.sjhy.platform.client.dto.base.PlayerGameOss" >
        insert into player_game_oss (id, role_id, bucket, 
            obj_type, obj_key, gold, 
            save_time, create_time, update_time, 
            status, end_time, meta_md5, 
            fname, backup_oss_time)
        values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=BIGINT}, #{bucket,jdbcType=VARCHAR}, 
            #{objType,jdbcType=INTEGER}, #{objKey,jdbcType=VARCHAR}, #{gold,jdbcType=BIGINT}, 
            #{saveTime,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
            #{status,jdbcType=INTEGER}, #{endTime,jdbcType=TIMESTAMP}, #{metaMd5,jdbcType=VARCHAR}, 
            #{fname,jdbcType=VARCHAR}, #{backupOssTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.sjhy.platform.client.dto.base.PlayerGameOss" >
        insert into player_game_oss
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="roleId != null" >
                role_id,
            </if>
            <if test="bucket != null" >
                bucket,
            </if>
            <if test="objType != null" >
                obj_type,
            </if>
            <if test="objKey != null" >
                obj_key,
            </if>
            <if test="gold != null" >
                gold,
            </if>
            <if test="saveTime != null" >
                save_time,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="endTime != null" >
                end_time,
            </if>
            <if test="metaMd5 != null" >
                meta_md5,
            </if>
            <if test="fname != null" >
                fname,
            </if>
            <if test="backupOssTime != null" >
                backup_oss_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="roleId != null" >
                #{roleId,jdbcType=BIGINT},
            </if>
            <if test="bucket != null" >
                #{bucket,jdbcType=VARCHAR},
            </if>
            <if test="objType != null" >
                #{objType,jdbcType=INTEGER},
            </if>
            <if test="objKey != null" >
                #{objKey,jdbcType=VARCHAR},
            </if>
            <if test="gold != null" >
                #{gold,jdbcType=BIGINT},
            </if>
            <if test="saveTime != null" >
                #{saveTime,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="endTime != null" >
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="metaMd5 != null" >
                #{metaMd5,jdbcType=VARCHAR},
            </if>
            <if test="fname != null" >
                #{fname,jdbcType=VARCHAR},
            </if>
            <if test="backupOssTime != null" >
                #{backupOssTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.sjhy.platform.client.dto.base.PlayerGameOssExample" resultType="java.lang.Integer" >
        select count(*) from player_game_oss
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update player_game_oss
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.roleId != null" >
                role_id = #{record.roleId,jdbcType=BIGINT},
            </if>
            <if test="record.bucket != null" >
                bucket = #{record.bucket,jdbcType=VARCHAR},
            </if>
            <if test="record.objType != null" >
                obj_type = #{record.objType,jdbcType=INTEGER},
            </if>
            <if test="record.objKey != null" >
                obj_key = #{record.objKey,jdbcType=VARCHAR},
            </if>
            <if test="record.gold != null" >
                gold = #{record.gold,jdbcType=BIGINT},
            </if>
            <if test="record.saveTime != null" >
                save_time = #{record.saveTime,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null" >
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.endTime != null" >
                end_time = #{record.endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.metaMd5 != null" >
                meta_md5 = #{record.metaMd5,jdbcType=VARCHAR},
            </if>
            <if test="record.fname != null" >
                fname = #{record.fname,jdbcType=VARCHAR},
            </if>
            <if test="record.backupOssTime != null" >
                backup_oss_time = #{record.backupOssTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update player_game_oss
        set id = #{record.id,jdbcType=INTEGER},
            role_id = #{record.roleId,jdbcType=BIGINT},
            bucket = #{record.bucket,jdbcType=VARCHAR},
            obj_type = #{record.objType,jdbcType=INTEGER},
            obj_key = #{record.objKey,jdbcType=VARCHAR},
            gold = #{record.gold,jdbcType=BIGINT},
            save_time = #{record.saveTime,jdbcType=VARCHAR},
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
            update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            status = #{record.status,jdbcType=INTEGER},
            end_time = #{record.endTime,jdbcType=TIMESTAMP},
            meta_md5 = #{record.metaMd5,jdbcType=VARCHAR},
            fname = #{record.fname,jdbcType=VARCHAR},
            backup_oss_time = #{record.backupOssTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.sjhy.platform.client.dto.base.PlayerGameOss" >
        update player_game_oss
        <set >
            <if test="roleId != null" >
                role_id = #{roleId,jdbcType=BIGINT},
            </if>
            <if test="bucket != null" >
                bucket = #{bucket,jdbcType=VARCHAR},
            </if>
            <if test="objType != null" >
                obj_type = #{objType,jdbcType=INTEGER},
            </if>
            <if test="objKey != null" >
                obj_key = #{objKey,jdbcType=VARCHAR},
            </if>
            <if test="gold != null" >
                gold = #{gold,jdbcType=BIGINT},
            </if>
            <if test="saveTime != null" >
                save_time = #{saveTime,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="endTime != null" >
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="metaMd5 != null" >
                meta_md5 = #{metaMd5,jdbcType=VARCHAR},
            </if>
            <if test="fname != null" >
                fname = #{fname,jdbcType=VARCHAR},
            </if>
            <if test="backupOssTime != null" >
                backup_oss_time = #{backupOssTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.sjhy.platform.client.dto.base.PlayerGameOss" >
        update player_game_oss
        set role_id = #{roleId,jdbcType=BIGINT},
            bucket = #{bucket,jdbcType=VARCHAR},
            obj_type = #{objType,jdbcType=INTEGER},
            obj_key = #{objKey,jdbcType=VARCHAR},
            gold = #{gold,jdbcType=BIGINT},
            save_time = #{saveTime,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            status = #{status,jdbcType=INTEGER},
            end_time = #{endTime,jdbcType=TIMESTAMP},
            meta_md5 = #{metaMd5,jdbcType=VARCHAR},
            fname = #{fname,jdbcType=VARCHAR},
            backup_oss_time = #{backupOssTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>