<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sjhy.platform.persist.mysql.game.LipinmaMapper" >

    <resultMap id="BaseResultMap" type="com.sjhy.platform.client.dto.game.Lipinma" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="game_id" property="gameId" jdbcType="INTEGER" />
        <result column="channel_id" property="channelId" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="lp_name" property="lpName" jdbcType="VARCHAR" />
        <result column="desc_txt" property="descTxt" jdbcType="VARCHAR" />
        <result column="lp_reward_id" property="lpRewardId" jdbcType="VARCHAR" />
        <result column="lp_num" property="lpNum" jdbcType="INTEGER" />
        <result column="begin_time" property="beginTime" jdbcType="VARCHAR" />
        <result column="end_time" property="endTime" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, game_id, channel_id, type, lp_name, desc_txt, lp_reward_id, lp_num, begin_time, 
        end_time, create_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from lipinma
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from lipinma
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.sjhy.platform.client.dto.game.Lipinma" >
        insert into lipinma (id, game_id, channel_id, 
            type, lp_name, desc_txt, 
            lp_reward_id, lp_num, begin_time, 
            end_time, create_time)
        values (#{id,jdbcType=INTEGER}, #{gameId,jdbcType=INTEGER}, #{channelId,jdbcType=VARCHAR}, 
            #{type,jdbcType=INTEGER}, #{lpName,jdbcType=VARCHAR}, #{descTxt,jdbcType=VARCHAR}, 
            #{lpRewardId,jdbcType=VARCHAR}, #{lpNum,jdbcType=INTEGER}, #{beginTime,jdbcType=VARCHAR}, 
            #{endTime,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.sjhy.platform.client.dto.game.Lipinma" >
        insert into lipinma
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="gameId != null" >
                game_id,
            </if>
            <if test="channelId != null" >
                channel_id,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="lpName != null" >
                lp_name,
            </if>
            <if test="descTxt != null" >
                desc_txt,
            </if>
            <if test="lpRewardId != null" >
                lp_reward_id,
            </if>
            <if test="lpNum != null" >
                lp_num,
            </if>
            <if test="beginTime != null" >
                begin_time,
            </if>
            <if test="endTime != null" >
                end_time,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="gameId != null" >
                #{gameId,jdbcType=INTEGER},
            </if>
            <if test="channelId != null" >
                #{channelId,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=INTEGER},
            </if>
            <if test="lpName != null" >
                #{lpName,jdbcType=VARCHAR},
            </if>
            <if test="descTxt != null" >
                #{descTxt,jdbcType=VARCHAR},
            </if>
            <if test="lpRewardId != null" >
                #{lpRewardId,jdbcType=VARCHAR},
            </if>
            <if test="lpNum != null" >
                #{lpNum,jdbcType=INTEGER},
            </if>
            <if test="beginTime != null" >
                #{beginTime,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null" >
                #{endTime,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.sjhy.platform.client.dto.game.Lipinma" >
        update lipinma
        <set >
            <if test="gameId != null" >
                game_id = #{gameId,jdbcType=INTEGER},
            </if>
            <if test="channelId != null" >
                channel_id = #{channelId,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="lpName != null" >
                lp_name = #{lpName,jdbcType=VARCHAR},
            </if>
            <if test="descTxt != null" >
                desc_txt = #{descTxt,jdbcType=VARCHAR},
            </if>
            <if test="lpRewardId != null" >
                lp_reward_id = #{lpRewardId,jdbcType=VARCHAR},
            </if>
            <if test="lpNum != null" >
                lp_num = #{lpNum,jdbcType=INTEGER},
            </if>
            <if test="beginTime != null" >
                begin_time = #{beginTime,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null" >
                end_time = #{endTime,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.sjhy.platform.client.dto.game.Lipinma" >
        update lipinma
        set game_id = #{gameId,jdbcType=INTEGER},
            channel_id = #{channelId,jdbcType=VARCHAR},
            type = #{type,jdbcType=INTEGER},
            lp_name = #{lpName,jdbcType=VARCHAR},
            desc_txt = #{descTxt,jdbcType=VARCHAR},
            lp_reward_id = #{lpRewardId,jdbcType=VARCHAR},
            lp_num = #{lpNum,jdbcType=INTEGER},
            begin_time = #{beginTime,jdbcType=VARCHAR},
            end_time = #{endTime,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>