<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sjhy.platform.persist.mysql.game.ServerMapper" >

    <resultMap id="BaseResultMap" type="com.sjhy.platform.client.dto.game.Server" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="server_id" property="serverId" jdbcType="INTEGER" />
        <result column="game_id" property="gameId" jdbcType="VARCHAR" />
        <result column="language" property="language" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="is_available" property="isAvailable" jdbcType="BIT" />
        <result column="recommend" property="recommend" jdbcType="SMALLINT" />
        <result column="ip" property="ip" jdbcType="VARCHAR" />
        <result column="ip_internal" property="ipInternal" jdbcType="VARCHAR" />
        <result column="port_number" property="portNumber" jdbcType="INTEGER" />
        <result column="start_url" property="startUrl" jdbcType="VARCHAR" />
        <result column="version_num" property="versionNum" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, server_id, game_id, language, name, is_available, recommend, ip, ip_internal, 
        port_number, start_url, version_num
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from server
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from server
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.sjhy.platform.client.dto.game.Server" >
        insert into server (id, server_id, game_id, 
            language, name, is_available, 
            recommend, ip, ip_internal, 
            port_number, start_url, version_num
            )
        values (#{id,jdbcType=INTEGER}, #{serverId,jdbcType=INTEGER}, #{gameId,jdbcType=VARCHAR}, 
            #{language,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{isAvailable,jdbcType=BIT}, 
            #{recommend,jdbcType=SMALLINT}, #{ip,jdbcType=VARCHAR}, #{ipInternal,jdbcType=VARCHAR}, 
            #{portNumber,jdbcType=INTEGER}, #{startUrl,jdbcType=VARCHAR}, #{versionNum,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.sjhy.platform.client.dto.game.Server" >
        insert into server
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="serverId != null" >
                server_id,
            </if>
            <if test="gameId != null" >
                game_id,
            </if>
            <if test="language != null" >
                language,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="isAvailable != null" >
                is_available,
            </if>
            <if test="recommend != null" >
                recommend,
            </if>
            <if test="ip != null" >
                ip,
            </if>
            <if test="ipInternal != null" >
                ip_internal,
            </if>
            <if test="portNumber != null" >
                port_number,
            </if>
            <if test="startUrl != null" >
                start_url,
            </if>
            <if test="versionNum != null" >
                version_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="serverId != null" >
                #{serverId,jdbcType=INTEGER},
            </if>
            <if test="gameId != null" >
                #{gameId,jdbcType=VARCHAR},
            </if>
            <if test="language != null" >
                #{language,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="isAvailable != null" >
                #{isAvailable,jdbcType=BIT},
            </if>
            <if test="recommend != null" >
                #{recommend,jdbcType=SMALLINT},
            </if>
            <if test="ip != null" >
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="ipInternal != null" >
                #{ipInternal,jdbcType=VARCHAR},
            </if>
            <if test="portNumber != null" >
                #{portNumber,jdbcType=INTEGER},
            </if>
            <if test="startUrl != null" >
                #{startUrl,jdbcType=VARCHAR},
            </if>
            <if test="versionNum != null" >
                #{versionNum,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.sjhy.platform.client.dto.game.Server" >
        update server
        <set >
            <if test="serverId != null" >
                server_id = #{serverId,jdbcType=INTEGER},
            </if>
            <if test="gameId != null" >
                game_id = #{gameId,jdbcType=VARCHAR},
            </if>
            <if test="language != null" >
                language = #{language,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="isAvailable != null" >
                is_available = #{isAvailable,jdbcType=BIT},
            </if>
            <if test="recommend != null" >
                recommend = #{recommend,jdbcType=SMALLINT},
            </if>
            <if test="ip != null" >
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="ipInternal != null" >
                ip_internal = #{ipInternal,jdbcType=VARCHAR},
            </if>
            <if test="portNumber != null" >
                port_number = #{portNumber,jdbcType=INTEGER},
            </if>
            <if test="startUrl != null" >
                start_url = #{startUrl,jdbcType=VARCHAR},
            </if>
            <if test="versionNum != null" >
                version_num = #{versionNum,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.sjhy.platform.client.dto.game.Server" >
        update server
        set server_id = #{serverId,jdbcType=INTEGER},
            game_id = #{gameId,jdbcType=VARCHAR},
            language = #{language,jdbcType=VARCHAR},
            name = #{name,jdbcType=VARCHAR},
            is_available = #{isAvailable,jdbcType=BIT},
            recommend = #{recommend,jdbcType=SMALLINT},
            ip = #{ip,jdbcType=VARCHAR},
            ip_internal = #{ipInternal,jdbcType=VARCHAR},
            port_number = #{portNumber,jdbcType=INTEGER},
            start_url = #{startUrl,jdbcType=VARCHAR},
            version_num = #{versionNum,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByServer" resultMap="BaseResultMap" parameterType="com.sjhy.platform.client.dto.game.Server" >
        select
        <include refid="Base_Column_List" />
        from server
        where server_id = #{serverId,jdbcType=INTEGER},
        and game_id = #{gameId,jdbcType=VARCHAR}
    </select>
</mapper>