<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sjhy.platform.persist.mysql.player.PlayerChannelMapper" >

    <resultMap id="BaseResultMap" type="com.sjhy.platform.client.dto.player.PlayerChannel" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="game_id" property="gameId" jdbcType="VARCHAR" />
        <result column="channel_id" property="channelId" jdbcType="VARCHAR" />
        <result column="sub_channel" property="subChannel" jdbcType="INTEGER" />
        <result column="channel_user_id" property="channelUserId" jdbcType="VARCHAR" />
        <result column="player_id" property="playerId" jdbcType="BIGINT" />
        <result column="ios_id" property="iosId" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, game_id, channel_id, sub_channel, channel_user_id, player_id, ios_id
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from player_channel
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from player_channel
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.sjhy.platform.client.dto.player.PlayerChannel" >
        insert into player_channel (id, game_id, channel_id, 
            sub_channel, channel_user_id, player_id, 
            ios_id)
        values (#{id,jdbcType=INTEGER}, #{gameId,jdbcType=VARCHAR}, #{channelId,jdbcType=VARCHAR}, 
            #{subChannel,jdbcType=INTEGER}, #{channelUserId,jdbcType=VARCHAR}, #{playerId,jdbcType=BIGINT}, 
            #{iosId,jdbcType=BIGINT})
    </insert>

    <insert id="insertSelective" parameterType="com.sjhy.platform.client.dto.player.PlayerChannel" >
        insert into player_channel
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="gameId != null" >
                game_id,
            </if>
            <if test="channelId != null" >
                channel_id,
            </if>
            <if test="subChannel != null" >
                sub_channel,
            </if>
            <if test="channelUserId != null" >
                channel_user_id,
            </if>
            <if test="playerId != null" >
                player_id,
            </if>
            <if test="iosId != null" >
                ios_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="gameId != null" >
                #{gameId,jdbcType=VARCHAR},
            </if>
            <if test="channelId != null" >
                #{channelId,jdbcType=VARCHAR},
            </if>
            <if test="subChannel != null" >
                #{subChannel,jdbcType=INTEGER},
            </if>
            <if test="channelUserId != null" >
                #{channelUserId,jdbcType=VARCHAR},
            </if>
            <if test="playerId != null" >
                #{playerId,jdbcType=BIGINT},
            </if>
            <if test="iosId != null" >
                #{iosId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.sjhy.platform.client.dto.player.PlayerChannel" >
        update player_channel
        <set >
            <if test="gameId != null" >
                game_id = #{gameId,jdbcType=VARCHAR},
            </if>
            <if test="channelId != null" >
                channel_id = #{channelId,jdbcType=VARCHAR},
            </if>
            <if test="subChannel != null" >
                sub_channel = #{subChannel,jdbcType=INTEGER},
            </if>
            <if test="channelUserId != null" >
                channel_user_id = #{channelUserId,jdbcType=VARCHAR},
            </if>
            <if test="playerId != null" >
                player_id = #{playerId,jdbcType=BIGINT},
            </if>
            <if test="iosId != null" >
                ios_id = #{iosId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.sjhy.platform.client.dto.player.PlayerChannel" >
        update player_channel
        set game_id = #{gameId,jdbcType=VARCHAR},
            channel_id = #{channelId,jdbcType=VARCHAR},
            sub_channel = #{subChannel,jdbcType=INTEGER},
            channel_user_id = #{channelUserId,jdbcType=VARCHAR},
            player_id = #{playerId,jdbcType=BIGINT},
            ios_id = #{iosId,jdbcType=BIGINT}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 查询玩家渠道id -->
    <select id="selectByPlayerChannel" resultMap="BaseResultMap" parameterType="com.sjhy.platform.client.dto.player.PlayerChannel" >
        select
        <include refid="Base_Column_List" />
        from player_channel
        where game_id = #{gameId,jdbcType=VARCHAR}
        and channel_id = #{channelId,jdbcType=VARCHAR}
        and channel_user_id = #{channelUserId,jdbcType=VARCHAR}
    </select>

    <!-- 查询渠道用户id -->
    <select id="selectByChannelUserId" resultType="java.lang.String" parameterType="com.sjhy.platform.client.dto.player.PlayerChannel" >
        select
          channel_user_id
        from player_channel
        where game_id = #{gameId,jdbcType=VARCHAR}
        and channel_id = #{channelId,jdbcType=VARCHAR}
        and player_id = #{playerId,jdbcType=BIGINT}
    </select>

    <!-- 查询最大iosId -->
    <select id="selectByMaxIosId" resultType="java.lang.Long" parameterType="com.sjhy.platform.client.dto.player.PlayerChannel" >
        select
          max (ios_id)
        from player_channel
    </select>
</mapper>