<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sjhy.platform.persist.mysql.fixed.VirtualCurrencyMapper" >

    <resultMap id="BaseResultMap" type="com.sjhy.platform.client.dto.fixed.VirtualCurrency" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="unit" property="unit" jdbcType="VARCHAR" />
        <result column="explain" property="explain" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, unit, `explain`
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from virtual_currency
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from virtual_currency
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.sjhy.platform.client.dto.fixed.VirtualCurrency" >
        insert into virtual_currency (id, unit, explain
            )
        values (#{id,jdbcType=INTEGER}, #{unit,jdbcType=VARCHAR}, #{explain,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.sjhy.platform.client.dto.fixed.VirtualCurrency" >
        insert into virtual_currency
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="unit != null" >
                unit,
            </if>
            <if test="explain != null" >
                explain,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="unit != null" >
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="explain != null" >
                #{explain,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.sjhy.platform.client.dto.fixed.VirtualCurrency" >
        update virtual_currency
        <set >
            <if test="unit != null" >
                unit = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="explain != null" >
                explain = #{explain,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.sjhy.platform.client.dto.fixed.VirtualCurrency" >
        update virtual_currency
        set unit = #{unit,jdbcType=VARCHAR},
            explain = #{explain,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByUnit" resultMap="BaseResultMap" parameterType="com.sjhy.platform.client.dto.fixed.VirtualCurrency" >
        select
        <include refid="Base_Column_List" />
        from virtual_currency
        where unit = #{unit,jdbcType=VARCHAR}
    </select>
</mapper>